*{
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tennis-ball{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #cc0;
  background: radial-gradient(ellipse at center, #cc0 0%, darken(#cc0, 15) 100%);;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(30deg);
  box-shadow: 10px 20px 25px 10px rgba(#000, .2);

  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse; 
  animation-iteration-count: infinite;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: solid 10px #fff;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  &:before {
    right: 70%;
  }
  
  &:after {
    left: 70%;
  }

}
@keyframes example {
  0%   {left:-100px;}
  25%  { left:200px;}
  50%  { left:200px;}
  75%  { left:-100px;}
  100% { left:-100px;}
}