*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assests/img2.jpg");
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contaier{
    padding: 0;
    margin: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.item {
    flex: 1 1 0;
    height: 100%;
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.6s ease; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.item:hover{
    flex: 8 1 0;
}

.item1 {
    background-image: url('./assests/img1.jpg');
}
.item2 {
    background-image: url('./assests/img2.jpg');
}
.item3 {
    background-image: url('./assests/img3.jpg');
}
.item4 {
    background-image: url('./assests/img4.jpg');
}
