*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    padding: 10px 50px;
    transition: transform 0.3s ease;
    
}
button:hover{
    transform: rotate(-10deg);
}