@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  

:root{
    --neon-green: #333;
    --neon-pink: #ff6ec7;
    --neon-blue: #00ffff;
    --neon-orange: #ff5f1f;
    --neon-yellow: #ffff00;
    --clr-1: #1a1a1a;
}
body{
    background: var(--clr-1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.card{
    height: 47vh;
    width: 15vw;
    background-color: var(--clr-1);
    border-radius: 0.5rem;
    position: relative;
    padding: 10px 20px;
    color: white;
    transition: transform 0.3s ease; 
    transform-style: preserve-3d;
}
h1{
    padding-top: 40px;
}

.card::before,
.card::after{
    content: "";
    position: absolute;
    inset: -.15rem;
    transform: translateZ(-1px);
    background: conic-gradient(
        from var(--gradient-angle),
        var(--neon-blue),
        var(--neon-orange),
        var(--neon-pink),
        var(--neon-orange),
        var(--neon-blue));
    border-radius: inherit;
    animation :rotation 10s linear infinite;
}

.card::after{
    filter: blur(3.5rem);
}

.card:hover {
    transform: translateY(-30px); 
    z-index: +1;
}

button{
    margin-top: 5px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

@keyframes rotation {
    0% { --gradient-angle : 0deg; }
    100% { --gradient-angle : 360deg; }
}